<h2>Monthly Sales Report:</h2>

<b>Country Filter: </b>
<input id="countryFilter" type="text" [(ngModel)]="filterCountry">
<br><br>
<button (click)="getMonthlySalesReport()">GET REPORT</button>
<br>
<highcharts-chart 
  [Highcharts]="Highcharts"

  [constructorType]="chartConstructor"
  [options]="chartOptions"
  [callbackFunction]="chartCallback"

  [(update)]="updateFlag"
  [oneToOne]="oneToOneFlag"
  [runOutsideAngular]="runOutsideAngularFlag"

  style="width: 100%; height: 400px; display: block;"
></highcharts-chart>